.container {
  & > div {
    &:not(:last-child) {
      margin-bottom: 5rem;
    }
  }
  .summary {
    h1 {
      font-size: 1.7rem;
      margin-right: auto;
    }
    & > div {
      display: flex;
      justify-content: center;
      gap: 5rem;
      height: 30rem;
      margin-top: 2rem;
      .chart {
        width: 100%;
      }
      .withdraw {
        display: flex;
        align-items: center;
        // flex-direction: column;
        flex-shrink: 0;
        width: 33rem;
        height: 100%;
        border-radius: 2rem;
        background-color: var(--bg-tertiary);
        // margin-left: auto;
        color: var(--text-white);
        padding: 4rem 3rem;
        h5 {
          font-size: 1.4rem;
          margin-bottom: 2rem;
        }
        h2 {
          font-size: 4rem;
        }
        button {
          width: 100%;
          height: 4.2rem;
          border: 1px solid #fefefe;
          border-radius: 1rem;
          // margin-top: auto;
          transition: all 0.3s;
          &:hover {
            background-color: var(--bg-white);
            color: var(--text-secondary);
          }
        }
      }
    }
  }
  .tabs {
    .title {
      display: flex;
      gap: 3rem;
      border-bottom: 1px solid #e0e0e0;
      h1 {
        font-size: 1.7rem;
        padding: 1rem 2rem;
        cursor: pointer;
      }
      .active {
        position: relative;
        &::before {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0.5rem;
          background-color: var(--accent-color);
          content: "";
        }
      }
    }
    .table {
      padding: 1rem;
      margin-top: 1rem;
      overflow-x: auto;
      table {
        font-size: 1.5rem;
        border-collapse: collapse;
        width: 100%;
        opacity: 1;
        transition: all 0.4s;
        // background-color: var(--bg-primary);
        tr {
          th,
          td {
            padding: 1rem;
            text-align: left;
          }
        }
        thead {
          tr {
            th {
              position: sticky;
              top: 0;
              z-index: 2;
              font-weight: 700;
              //   color: var(--accent-color);
            }
          }
        }
        tbody {
          // background-color: var(--bg-white);
          tr {
            transition: all 0.3s;
            &:not(:last-child) {
              // border-bottom: 1px solid #cccccc;
            }
            &:hover {
              outline: 1px solid var(--accent-color);
              cursor: pointer;
            }
            td {
              text-transform: capitalize;
              img {
                width: 5rem;
                height: 5rem;
                object-fit: cover;
                border-radius: 1rem;
              }
              button {
                width: 8.5rem;
              }
            }
            th {
              color: var(--accent-color);
              width: 0;
            }
          }
        }
      }
    }
  }
}
